// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin rounded-top($color, $top, $right, $font_size) {

	right: $right;
	width: 560px;
	color: $color;
	display: block;
	font-size: $font_size;
	text-align: left;
	padding: 3px;

	top: $top;
	border-radius: 8px; 
	border: thin solid #919191; 
}

.titre {
	color: #ec3000;
}
.tags {
	color: green;
}
.box {

}
#bandeau_gauche {
background-color: #FFF;
color: #000;	
}
