%h1
- source = "àâçèéêîôùû"
- dest= "aaceeeiouu"
- general = Array.new
- matiere = Array.new
- couleur = Array.new

- @general = General.all
- @general.each do |mot|
  - general.push mot.name
  
- @matiere = Matiere.all
- @matiere.each do |mat|
  - matiere.push mat.name
  
- @couleur = Couleur.all
- @couleur.each do |coul|
  - couleur.push coul.name
  
- words = Array.new

- @articles.each do |article|
  
  - text = (article.description + " " + article.description_etendue).tr(source, dest)
  - words = text.scan(/\w+/) 
  - words.each do |w|
    - w.capitalize!
  
   
  - general_inter = words & general
  - general_inter.each_index do |i|
    - general_inter[i] = General.find_by_name(general_inter[i]).keyword
  - general_inter = general_inter.uniq
  
  - matiere_inter = words & matiere
  - matiere_inter.each_index do |i|
    - matiere_inter[i] = Matiere.find_by_name(matiere_inter[i]).keyword
  - matiere_inter = matiere_inter.uniq
    
  - couleur_inter = words & couleur
  - couleur_inter.each_index do |i|
    - couleur_inter[i] = Couleur.find_by_name(couleur_inter[i]).keyword
  - couleur_inter = couleur_inter.uniq
      
  - article.general_list =  general_inter.join(",")
  - article.matiere_list =  matiere_inter.join(",")
  - article.couleur_list =  couleur_inter.join(",")

  - article.save
  
Génération de mots clés terminée avec succès !
