%h1
- general = Array.new
- matiere = Array.new
- couleur = Array.new

- @general = General.all
- @general.each do |mot|
  - general.push mot.name
  
- @matiere = Matiere.all
- @matiere.each do |mat|
  - matiere.push mat.name
  
- @couleur = Couleur.all
- @couleur.each do |coul|
  - couleur.push coul.name
  
- words = Array.new

- @articles.each do |article|
  
  - text = article.description + " " + article.description_etendue
  - words = text.scan(/\w+/) 
  - words.each do |w|
    - w.capitalize!
  
   
  - general_inter = words & general
  - matiere_inter = words & matiere
  - couleur_inter = words & couleur
  
  - article.general_list =  (general_inter + article.general_list).join(",")
  - article.matiere_list =  (matiere_inter + article.matiere_list).join(",")
  - article.couleur_list =  (couleur_inter + article.couleur_list).join(",")

  - article.save
