%p#notice= notice 

%p
  %strong Name:
  =@client.name


%h2 Contacts batchbook 
%ul
  - @person.each do |person|
    %li
      = person.name

!= link_to 'Edit', edit_client_path(@client) |
!= link_to 'Back', clients_path
